@{
    ShopSideBarViewModel model = Model;
    var brands = model.Brands;
    var colors = model.Colors;
    var sizes = model.Sizes;
    //var categories = model.Categories;
}

<div class="sidebar-shop-filter-widget">
    <!-- Sidebar widget Item Start -->
    <div class="sidebar-widget-item">
        <h4 class="sidebar-widget-item__title">
            Category
        </h4>
        <div class="sidebar-widget-item__filter category-filter">
            <ul class="sidebar-widget-item__list category">
                <li>
                    <input type="checkbox" id="category-1" />
                    <label for="category-1">
                        <span></span>
                        Accessories
                    </label>
                </li>
                <li class="">
                    <input type="checkbox" id="category-2" />
                    <label for="category-2">
                        <span></span>
                        Baby
                    </label>

                    <button class="narrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Baby" aria-label="arrow down">
                        <i class="lastudioicon-down-arrow"></i>
                    </button>

                    <div id="Baby" class="collapse" data-bs-parent="#accordionCategory">
                        <ul class="children">
                            <li>
                                <input type="checkbox" id="category-2-1" />
                                <label for="category-2-1">
                                    <span></span>
                                    Accessories
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="category-2-2" />
                                <label for="category-2-2">
                                    <span></span>
                                    Clothing
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="category-2-3" />
                                <label for="category-2-3">
                                    <span></span>
                                    Learning
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="category-2-4" />
                                <label for="category-2-4">
                                    <span></span>
                                    New-born
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="category-2-5" />
                                <label for="category-2-5">
                                    <span></span>
                                    Toys
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="category-3" />
                    <label for="category-3">
                        <span></span>
                        Bag
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-4" />
                    <label for="category-4">
                        <span></span>
                        Big Size
                    </label>

                    <button class="narrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#BigSize" aria-label="arrow down">
                        <i class="lastudioicon-down-arrow"></i>
                    </button>

                    <div id="BigSize" class="collapse" data-bs-parent="#accordionCategory">
                        <ul class="children">
                            <li>
                                <input type="checkbox" id="category-4-1" />
                                <label for="category-4-1">
                                    <span></span>
                                    Man
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="category-4-2" />
                                <label for="category-4-2">
                                    <span></span>
                                    On Sale
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" id="category-4-3" />
                                <label for="category-4-3">
                                    <span></span>
                                    Women
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="category-5" />
                    <label for="category-5">
                        <span></span>Burger
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-6" />
                    <label for="category-6">
                        <span></span>Cake
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-7" />
                    <label for="category-7">
                        <span></span>Candles
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-8" />
                    <label for="category-8">
                        <span></span>Cosmetic
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-9" />
                    <label for="category-9">
                        <span></span>Furniture
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-10" />
                    <label for="category-10">
                        <span></span>Kids
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-11" />
                    <label for="category-11">
                        <span></span>Men
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-12" />
                    <label for="category-12">
                        <span></span>Organic
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-13" />
                    <label for="category-13">
                        <span></span>Plant
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-14" />
                    <label for="category-14">
                        <span></span>Shoes
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-15" />
                    <label for="category-15">
                        <span></span>Watch
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-16" />
                    <label for="category-16">
                        <span></span>Wines
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="category-17" />
                    <label for="category-17">
                        <span></span>Women
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <!-- Sidebar widget Item End -->
    <!-- Sidebar widget Item Start -->
    <div class="sidebar-widget-item">
        <h4 class="sidebar-widget-item__title">
            Price
        </h4>
        <div class="sidebar-widget-item__filter price-range-filter">
            <form action="#">
                <div class="filter-slider">
                    <div class="filter-progress"></div>
                </div>
                <div class="filter-range-input">
                    <input type="range" class="range-min" min="0" max="500" value="10" step="10" aria-label="range" />
                    <input type="range" class="range-max" min="0" max="500" value="90" step="10" aria-label="range" />
                </div>
                <p class="filter-price-value">
                    Price:
                    <input type="text" class="input-min" value="$10" aria-label="Price" />
                    <span>—</span>
                    <input type="text" class="input-max" value="$90" aria-label="Price" />
                </p>
                <button type="button" class="filter-price-btn">
                    Filter
                </button>
            </form>
        </div>
    </div>
    <!-- Sidebar widget Item End -->
    <!-- Sidebar widget Item Start -->
    <div class="sidebar-widget-item">
        <h4 class="sidebar-widget-item__title">
            Brands
        </h4>
        <div class="sidebar-widget-item__filter">
            <ul class="sidebar-widget-item__color">
                @foreach (var brand in brands)
                {
                    
                <li>
                    <input type="checkbox" id="blue" />
                    <label for="blue">
                            <a asp-controller="product" asp-action="ShopSideBarBrand" asp-route-id="@brand.Id">@brand.Name </a>
                    </label>
                </li>
                }
               
            </ul>
        </div>
    </div>
    <div class="sidebar-widget-item">
        <h4 class="sidebar-widget-item__title">
            Size
        </h4>
        <div class="sidebar-widget-item__filter">
            <ul class="sidebar-widget-item__list-2">
                    @foreach (var size in sizes){
                <li>
                    <input type="checkbox" id="size-1" />
                    <label for="size-1">
                        
                        
                            
                        <a asp-controller="product" asp-action="ShopSideBarSize" asp-route-id="@size.Id">@size.Name </a>
                        
                    </label>
                </li>
                }
                
            </ul>
        </div>
    </div>
    <!-- Sidebar widget Item End -->
    <!-- Sidebar widget Item Start -->
    <div class="sidebar-widget-item">
        <h4 class="sidebar-widget-item__title">
            Color
        </h4>
        <div class="sidebar-widget-item__filter">
            <ul class="sidebar-widget-item__color">
                @foreach (var color in colors)
                {
                    
                <li>
                    <input type="checkbox" id="blue" />
                    <label for="blue">
                            <a asp-controller="product" asp-action="ShopSideBarColor" asp-route-id="@color.Id">@color.Name </a>
                    </label>
                </li>
                }
               
            </ul>
        </div>
    </div>

    <!-- Sidebar widget Item End -->
    <!-- Sidebar widget Banner Start -->
    <div class="sidebar-widget-banner" style="
                                            background-image: url(assets/images/shop-sidebar-banner.jpg);
                                        ">
        <h3 class="sidebar-widget-banner__title">
            NEW NOW
        </h3>
        <h4 class="sidebar-widget-banner__sub-title">
            WARM WOOL PREMIUM COAT
        </h4>
        <a href="#" class="sidebar-widget-banner__btn">
            Add to bag
        </a>
    </div>
    <!-- Sidebar widget Banner End -->
</div>